<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "C:\Users\Acer\Desktop\mybatis-3-mapper.dtd">

<mapper namespace = "com.CMS.Content.Management.System.security.repository.postMapper">

    <resultMap type = "Post" id = "PostResultMap">
        <id column = "id" property = "id"></id>
        <result column = "title" property = "title"/>
        <result column = "content" property = "content"/>
        <result column = "imgURL" property = "imgURL"/>
    </resultMap>

    <select id = "getAllPosts" resultMap = "PostResultMap">
        SELECT id,title,content,imgURL FROM Post
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
            <if test="imgURL != null and imgURL != ''">
                AND imgURL LIKE CONCAT('%', #{imgURL}, '%')
            </if>
        </where>

    </select>

    <insert id = "postInsertion" parameterType = "Post" keyProperty = "id" useGeneratedKeys = "true">
        INSERT INTO Post
        <trim prefix = "(" suffix = ")" suffixOverrides = ",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="imgURL != null">imgURL,</if>
        </trim>
        <trim prefix = "VALUES (" suffix = ")" suffixOverrides = ",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="imgURL != null">#{imgURL},</if>
        </trim>
    </insert>

    <select id="getPostById" resultMap="PostResultMap" parameterType="int">
        SELECT id, title, content, imgURL FROM Post WHERE id = #{id}
    </select>

    <delete id = "deletePost" parameterType = "int">
        DELETE FROM Post WHERE id = #{id};
    </delete>

    <update id = "updatePost" parameterType = "Post" >
        UPDATE Post
        <set>
            <if test = "title != null "> title = #{title},</if>
            <if test = "content != null "> content = #{content},</if>
            <if test = "imgURL != null "> imgURL = #{imgURL}</if>
        </set>
        WHERE id = #{id};
    </update>

    <select id = "searchPosts" parameterType = "String" resultMap = "PostResultMap">
        SELECT * FROM Post
        <where>
            <if test = "query != null and query != ''">
                title LIKE CONCAT('%', #{query}, '%')
                OR content LIKE CONCAT('%', #{query}, '%')
                OR imgURL LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
    </select>

</mapper>