<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "C:\Users\Acer\Desktop\mybatis-3-mapper.dtd">


<mapper namespace = "com.example.Content_Management_System.security.user.userDetailRepository">

    <resultMap type = "userDetailModel" id = "userDetailModelMapper">
        <id column = "username" property = "username"/>
        <result column = "password" property = "password"/>
        <result column="enabled" property="enabled"/>
        <result column="authority" property="authority"/>
    </resultMap>

    <select resultMap = "userDetailModelMapper" id = "loginProcess" parameterType = "String">
        SELECT users.username , users.password , users.enabled , authorities.authority FROM users
        INNER JOIN authorities ON users.username = authorities.username  WHERE users.username = #{username};
    </select>

</mapper>